body{
    background: rgb(209, 176, 92);
    margin: 0px;
    padding-left: 200px;
}

header{
    background:rgb(223, 223, 243);
    margin: 0px;
    padding: 0px;
}
 

#top{
    margin: 40px;
}

.sidebar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100px;
    background:rgb(194, 190, 236);
    z-index: 2;
}

#imgID{
  width: 200px;
  height: 500px;
}


@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
    body{
         padding-left: 0px;
    }
}



